---
---

.tags {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 100%;
  margin: 20px 0;
}

.tag {
  max-width: 100%;
  margin: 0;
  padding: 5px 10px;
  border-radius: 999px;
  background: var(--secondary);
  color: var(--text);
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: background var(--transition), color var(--transition);
  font-weight: 500; // 약간 굵게
}

.tag:hover, .tag[data-active] {
  background: var(--light-gray);
  filter: brigtness(90%); // 살짝 어둡게
}
  
.tag[data-keyword="catalysis"]{ background: #004a99; color: white; } // Deep Blue
.tag[data-keyword="sensor"]{ background: #004a99; color: white; } // Green
.tag[data-keyword="battery"]{ background: #004a99; color: white; } // Orange
.tag[data-keyword="functional-semiconductor"]{ background: #004a99; color: white; } // Purple
.tag[data-keyword="functional-materials"]{ background: #004a99; color: white; } // Purple
